@use "fonts.scss";
@use "skils.scss";

* {
    padding: 0;
    margin: 0;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

html, body {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    height: 100vh;
}

#left {
    padding: 60px 30px 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 48px;
        line-height: 45px;
    }

    ul {
        margin-bottom: 10px;
    }
}

#left-center {
    background: url(../img/desktop.jpg) no-repeat center;
    background-size: cover;
}

#right-center {
    background-color: rgb(27, 27, 36);
    color: #fff;
    padding: 60px 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 15px;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #education {
        margin-bottom: 30px;

        div p:nth-child(2) {
            margin-bottom: 5px;
        }
    }

    #skils {
        > div > div {
            display: flex;
            justify-content: space-between;
        }
    }
}

#right {
    padding: 60px 60px 60px 20px;
    display: grid;
    grid-template-rows: 2fr 0.8fr;
    grid-gap: 30px;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #experience {
       > div {
           display: flex;

           > div:first-child {
               flex: 1 0 85px;
               margin-right: 10px;
           }
       }

       .exp-txt p:nth-child(2) {
           margin-bottom: 10px;
       }
    }
}

